	<legend>TIPIFICACION</legend>


								<div class="form-group">
									<label for="nombre">Observacion</label>
									<textarea ng-change='setobservacion(observacion)' required type="text" rows="6" class="form-control"  ng-model='observacion'  id="nombre"></textarea> 
								</div>


								<div class="form-group">
									<label for="nombre">Contacto</label>
									<select ng-change='traeacciones(contactos)' class='form-control' ng-options="item.id as item.nombre for item in contacto track by item.id" ng-model="contactos"></select>

								</div>

								<div class="form-group">

								<label for="accion">Accion</label>

								<select 
										class='form-control'
								        ng-model="selected_id" 
								        ng-options="o.id as o.nombre for o in listaaciones" 
								        ng-change="selected(selected_id)">
								</select>

								</div>


						

								<div class="form-group">

									<label for="estado">Estados</label>
									<select   class='form-control' 
											  ng-model="modelestado"
											  ng-options="p.id as p.nombre for p in estados" 
											  ng-change="setestado(modelestado)"
											  ></select>

								</div>

