<div class='row'>

<div class='col-md-4'>

	<div class='panel'>

	
			<div class='panel-header'>
			<h3>Total Gestionado</h3>
			</div>

			<div class='panel-body'>


				CONTACTO CON TITULAR
				CONTACTO CON TERCERO
				NO CONTACTO
				NO TRABAJABLE
				TOTAL

			</div>

	</div>


</div>

<div class='col-md-4'>



</div>


<div class='col-md-4'>



</div>



TOTAL GESTIONADO

CONTACTO CON TITULAR
CONTACTO CON TERCERO
NO CONTACTO
NO TRABAJABLE
TOTAL

CONTACTABILIDAD

CONTACTO EFECTIVO
CONTACTO NO EFECTIVO
TOTAL

EFECTIVIDAD

CONTACTO EFECTIVO ACEPTA
CONTACTO EFECTIVO NO ACEPTA

AGENDADOS




</div>