<headercomponent></headercomponent>

	 	
 
<div class='container'>


<div class='search' data-toggle="modal" data-target="#myModal">
<span > <h5><i class="fa fa-search" aria-hidden="true"></i> Busqueda</h5></span>
</div>

<div class="flex-container paralelogramo">

			<div class='titulo '>Campaña</div>
			<div class="contenido ">{{agente.CAMPANA}}</div>
			<div class='titulo'> Agente</div>
			<div class="contenido">{{agentereal.nombre_agente}}</div>

		</div>

		<div class='row'>

			<div class='col-md-8'>

			<formulariocomponent></formulariocomponent>

			</div>

			<div class='col-md-4'>

			<tipificacioncomponent pasabase='pasabase'></tipificacioncomponent>

			</div>

			<div class='col-md-12'>

			<llamadascomponent></llamadascomponent>

			</div>

		</div>

</div>



<!-- Modal -->
	<div id="myModal" class="modal fade" role="dialog">
	  <div class="modal-dialog modal-lg">



	    <!-- Modal content-->
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title">Ingrese Datos</h4>
	      </div>
	      <div class="modal-body">
	       	

	       		<div class="form-group">
					<label for="nombre">DNI</label>
					<input required type="text" class="form-control" ng-change='searchdni(dni)' ng-model='dni'  id="nombre">
				</div>



			<ul class="list-group" >
			  
			  <li ng-click='go(x)' class="list-group-item" ng-repeat="x in registros">

			  <div class='row'>
			  <div class='col-md-2'>
			  {{x.telefono}} 
			  </div>

			  <div class='col-md-3'>
			   {{x.contacto}}  
			  </div>

			  <div class='col-md-2'>
			  {{x.accion}}   
			  </div>

			  <div class='col-md-3'>
			  {{x.estado}}   
			  </div>




			  </li>

		
			</ul>





	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>

	  </div>
	</div>
